a:link, a:visited {
    font-family: Calibri;
    background-color: #efefef;
    color: #434343;
    border: 2px solid white;
    padding: 5px 0px 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: #d9d9d9;
  }
            .button {
          background-color: #6fa8dc;
          border: none;
          color: white;
          font-family: Calibri;
          padding: 2px 2px;
          transition-duration: 0.4s;
          cursor:pointer;
        }
        .button:hover {
    background-color:#9fc5e8;
    color: white;
    cursor:pointer;
  }
  .textEntry{
    border: 1px solid black;
    font-family: Calibri;
          padding: 1px 1px;
  }
       .textEntry2{
    border: none;
    font-family: Calibri;
          padding: 1px 1px;
          background-color:#efefef;
          cursor:default;
          color: black;
          text-align: center;

  }
  H1{
      padding: 2px;
      margin: 2px;
  }
  H3{
      padding: 2px;
      margin: 2px;
  }
  .myHead1{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #6d9eeb;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead2{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #93c47d;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead3{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #ffd966;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead4{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #f6b26b;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead5{
    font-family: Calibri;
    font-size: xx-large;
    border: 2px solid white;
    background-color: #c27ba0;
    text-align: center;
    padding: 5px 5px;
    padding-top: 5px;
    color: white;
  }
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
  .myDiv {
    font-family: Calibri;
    border: 2px solid white;
    background-color: #efefef;
    text-align: center;
    padding: 5px 5px;
  }
  .linkDiv{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:2px;
  }
  .stock{
    text-transform: uppercase;
    border: 1px solid black;
    font-family: Calibri;
          padding: 1px 1px;
  }
  .hidden{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap:2px;
    padding: 2px;
  }
  .hidden2{
    text-align: center;
    display: block;
    margin: auto;
    gap:2px;
    padding: 2px;
  }
  .hidden3{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2px;
    padding: 2px;
  }
  .hidden4{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap:2px;
    padding: 2px;
  }
  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    background-color: #93c47d;
    color: white;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: solid white;
    border-width: 0px 2px 2px 2px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  button.collapsible:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #b7f09e;
  }
  /* Style the button that is used to open and close the collapsible content */
  .collapsible1 {
    background-color: #ffd966;
    color: white;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: solid white;
    border-width: 0px 2px 2px 2px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  button.collapsible1:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible1:hover {
    background-color: #b7f09e;
  }
  /* Style the button that is used to open and close the collapsible content */
  .collapsible2 {
    background-color: #c27ba0;
    color: white;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: solid white;
    border-width: 0px 2px 2px 2px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  button.collapsible2:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible2:hover {
    background-color: #ead1dc;
  }
  /* Style the collapsible content. Note: hidden by default */
  .content {
    display: none;
    overflow: hidden;
    font-family: Calibri;
    border: 2px solid white;
    background-color: #efefef;
    text-align: center;
    padding: 2px 2px;
  }
ul{
  height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  font-family: Helvetica;
  font-size: small;
    list-style: none;
}
ul li {
    text-align: right;
    padding: 1px 5px 1px 5px;
    color: white;
    list-style: none;
    background-color: #2294fb;
    border-radius: 5px;
    border-style: solid;
    border-color: #white;
    border-width: 1px;
}
nav ul{
  
  scroll-snap-align: end;
  height:400px;
  }
nav ul{
  
  scroll-snap-align: end;
  overflow:hidden;
  overflow-y:scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 6px;
}
