
   .textEntry{
    border: none;
    font-family: Helvetica;
    padding: 1px 1px;
    background-color:white;
    border: 2px solid gray;
    cursor: text;
    color: black;
    text-align: center;
    border-radius: 18px;
  }
       
  H1{
      padding: 2px;
      margin: 2px;
  }
  H3{
      padding: 2px;
      margin: 2px;
  }
  .myHead1{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #6d9eeb;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead2{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #93c47d;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead3{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #ffd966;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead4{
    font-family: Calibri;
    border: 2px solid white;
    background-color: #f6b26b;
    text-align: center;
    padding: 0px 0px;
    padding-top: 5px;
    color: white;
  }
  .myHead5{
    font-family: Calibri;
    font-size: xx-large;
    border: 2px solid white;
    background-color: #c27ba0;
    text-align: center;
    padding: 5px 5px;
    padding-top: 5px;
    color: white;
  }
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
  .myDiv {
    font-family: Calibri;
    border: 2px solid white;
    background-color: #efefef;
    text-align: center;
    padding: 5px 5px;
  }
  .linkDiv{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:2px;
  }
  .stock{
    text-transform: uppercase;
    border: 1px solid black;
    font-family: Calibri;
          padding: 1px 1px;
  }
  .hidden{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap:2px;
    padding: 2px;
  }
  .hidden2{
    justify-content: flex-end;
    flex: 1;
    align-items: end;
    text-align: center;
    display: flex;
    margin: 0px 0px 0px 0px;
    gap: 2px;
    padding: 2px;
  }
  .hidden3{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2px;
    padding: 2px;
  }
  .hidden4{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap:2px;
    padding: 2px;
  }

ul{
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  font-family: Helvetica;
  font-size: small;
  list-style: none;
}
ul li {
    text-align: right;
    padding: 2px 8px 2px 5px;
    
    color: white;
    list-style: none;
    background-color: #2294fb;
    border-radius: 18px;
    border-style: solid;
    border-color: #white;
    border-width: 1px;
    overflow: visible;
}
nav ul{
  scroll-snap-align: end;
  height: 625px;
  }
nav ul{
  
  scroll-snap-align: end;
  overflow:hidden;
  overflow-y:scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 6px;
}
.button {
  
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px white;
  color: #fff;
  font-size: medium;
  cursor: pointer;
  
}
