<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tester.css') }}">   
    <script src="jquery.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load("index.html"); 
    });
    </script>  
  </head>
  <body>
<div class="myHead5">ECC Diffie Hellman</div>
<div class="hidden">
            <div class="myHead1"><b>Curve25519:</b> <i>y<sup>2</sup> = x<sup>3</sup> + 486662x<sup>2</sup> + x</i> over the Prime Field: <i>2<sup>255</sup> - 19</i></div>
            <div class="myHead2">Base Point: x = 9 </div>
            </div>
   <div class="linkDiv">
    <div class="hidden2">
      <div id="includedContent"></div>
        <div class="hidden4">
            <form action="/" method="post">
            <input type="text" name="fname" value="" size="17" placeholder="Your Message">
            </form>

        </div>
    </div>
    <div class="hidden">
        <div class="myHead4">Diffie-Hellman</div>
        <div class="hidden3">
        <div class="myDiv">{{ message|safe }}</div>
        <div class="myDiv">Data</div>
        </div>
        <div class="myHead3">Keys</div>
        <div class="hidden3">
        <div class="myDiv">Data</div>
        <div class="myDiv">Data</div>
        </div>
        <div class="myHead2">Encryption</div>
        <div class="hidden3">
        <div class="myDiv">Data</div>
        <div class="myDiv">Data</div>
        </div>
        <div class="myHead1">Message</div>
        <div class="hidden3">
        <div class="myDiv">Data</div>
        <div class="myDiv">Data</div>
        </div>
    </div>
    <div class="hidden2">
        <img src="{{ url_for('static', filename='images/IPhone_X_vector.svg') }}">


    </div>

</div>

  </body>
</html>
