<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tester.css') }}">   
    <script src="jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
	  <div class="myHead5"><b>ECC Diffie Hellman with Curve NIST P-256</b></div>
<div class="hidden" >
            <div class="myHead1"><b>Curve:</b> <i>y<sup>2</sup> = x<sup>3</sup> + ax<sup>2</sup> + b</i> over the Prime Field: <i>p</i></div>
            <div class="myHead2">Base Point: (X<sub>0</sub>,Y<sub>0</sub>) </div>
	    <div class="myHead3"> Variables:</div>
	    <div class="myDiv" style="text-align: left; display: grid; grid-template-columns: 1fr 1fr;">
		  <div><b>p =</b> 2<sup>256</sup>-2<sup>224</sup>+2<sup>192</sup>+2<sup>96</sup>-1 </div>
		  <div><b>a =</b> p - 3 = <textarea readonly="True" rows="1" cols="80">115792089210356248762697446949407573530086143415290314195533631308867097853948</textarea></div>
	  	  <div><b>b =</b> <textarea readonly="True" cols="80">41058363725152142129326129780047268409114441015993725554835256314039467401291</textarea></div>
		  <div><b>Order =</b> <textarea readonly="True" rows="1" cols="80">115792089210356248762697446949407573529996955224135760342422259061068512044369</textarea></div>
		  <div><b>X<sub>0</sub> =</b> <textarea readonly="True" rows="1" cols="80">48439561293906451759052585252797914202762949526041747995844080717082404635286</textarea></div>
		  <div><b>Y<sub>0</sub> =</b> <textarea readonly="True" rows="1" cols="80">36134250956749795798585127919587881956611106672985015071877198253568414405109</textarea></div>
		    </div>
            </div>
   <div class="linkDiv">
    <div class="hidden2">
      <nav>
      
  <script type="text/javascript">
    $(document).ready(function() {

    	var socket = io.connect();
	
	socket.on('connect', function() {
	});

	socket.on('message', function(msg) {
		$("#messages").prepend('<li>'+msg+'</li>');
		console.log('Received message');
	});
	socket.on('messageEncryptionEvent', function(data) {
		$('#encrypt1').html(data[0]);
		$('#encrypt2').html(data[1]);
		$('#encrypt3').html(data[2]);
		$('#encrypt4').html(data[3]);
		$('#userData').html(data[4]);
		$('#botData').html(data[5]);
		$('#userShared').html(data[6]);
		$('#botShared').html(data[7]);
	});
	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});

});
</script>
<ul id="messages"></ul>
<div class="hidden3">	      
<input type="text" id="myMessage" class="textEntry">
<button class="button" id="sendbutton">Send</button>
	      </div>
      </nav>
        
    </div>
    <div class="hidden">
        <div class="myHead4"><b>EC Diffie-Hellman</b></div>
        <div class="hidden3">
        <div class="myDiv" id="userData">{{ dhDataUser|safe }}</div>
        <div class="myDiv" id="botData">{{ dhDataBot |safe }}</div>
        </div>
        <div class="myHead3"><b>Shared Keys</b></div>
        <div class="hidden3">
        <div class="myDiv" id="userShared">{{ shrDataUser |safe }}</div>
        <div class="myDiv" id="botShared">{{ shrDataBot |safe }}</div>
        </div>
        <div class="myHead2"><b>Encryption using AES</b></div>
        <div class="hidden3">
        <div class="myDiv"><p id="encrypt1"></p></div>
		<div class="myDiv"><p id="encrypt2"></p></div>
        </div>
        <div class="myHead1"><b>Message</b></div>
        <div class="hidden3">
        <div class="myDiv" ><p id="encrypt3"></p></div>
        <div class="myDiv"><p id="encrypt4"></p></div>
        </div>
    </div>
    <div class="hidden2">
         <nav>
      
  <script type="text/javascript">
    $(document).ready(function() {

    	var socket2 = io.connect();

	socket2.on('connect', function() {

	});

	socket2.on('message', function(msg) {
		$("#messages2").prepend('<li class="receive">'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton2').on('click', function() {
		socket.send($('#myMessage2').val());
		$('#myMessage2').val('');
	});

});
</script>
<ul id="messages2"></ul>
<div class="hidden3">	      
	      </div>
      </nav>


    </div>

</div>

  </body>
</html>
