<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tester.css') }}">   
    <script src="jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  </head>
  <body>
	  <div class="myHead5"><b>ECC Diffie Hellman</b></div>
<div class="hidden">
            <div class="myHead1"><b>Curve:</b> <i>y<sup>2</sup> = x<sup>3</sup> + 2x<sup>2</sup> + 2</i> over the Prime Field: <i>17</i></div>
            <div class="myHead2">Base Point: (5,1) </div>
            </div>
   <div class="linkDiv">
    <div class="hidden2">
      <nav>
      
  <script type="text/javascript">
    $(document).ready(function() {

    	var socket = io.connect();

	socket.on('connect', function() {
	});

	socket.on('message', function(msg) {
		$("#messages").prepend('<li>'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});

});
</script>
<ul id="messages"></ul>
<div class="hidden3">	      
<input type="text" id="myMessage" class="textEntry">
<button class="button" id="sendbutton">Send</button>
	      </div>
      </nav>
        
    </div>
    <div class="hidden">
        <div class="myHead4"><b>Diffie-Hellman</b></div>
        <div class="hidden3">
        <div class="myDiv">{{ dhDataUser|safe }}</div>
        <div class="myDiv">{{ dhDataBot |safe }}</div>
        </div>
        <div class="myHead3"><b>Keys</b></div>
        <div class="hidden3">
        <div class="myDiv">{{ shrDataUser |safe }}</div>
        <div class="myDiv">{{ shrDataBot |safe }}</div>
        </div>
        <div class="myHead2"><b>Encryption</b></div>
        <div class="hidden3">
        <div class="myDiv">Data</div>
        <div class="myDiv">Data</div>
        </div>
        <div class="myHead1"><b>Message</b></div>
        <div class="hidden3">
        <div class="myDiv">Data</div>
        <div class="myDiv">Data</div>
        </div>
    </div>
    <div class="hidden2">
         <nav>
      
  <script type="text/javascript">
    $(document).ready(function() {

    	var socket2 = io.connect();

	socket2.on('connect', function() {

	});

	socket2.on('message', function(msg) {
		$("#messages2").prepend('<li class="receive">'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton2').on('click', function() {
		socket.send($('#myMessage2').val());
		$('#myMessage2').val('');
	});

});
</script>
<ul id="messages2"></ul>
<div class="hidden3">	      
	      </div>
      </nav>


    </div>

</div>

  </body>
</html>
